.HeroesList {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.HeroCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  margin: 1rem;
  padding: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.2s;
  width: calc(95% / 3);
  position: relative;
}

.HeroCard__background {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;
  background-size: cover;
  transition: 0.3s ease-out;
}

.HeroCard:hover .HeroCard__background {
  transform: scale(2);
}

.HeroCard__header {
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HeroCard__portrait {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  transition: all .2s;
}

.HeroCard__portrait:hover {
  transform: scale(1.1);
}

.HeroCard__name, .HeroCard__name a {
  text-decoration: none;
  font-size: 4rem;
  font-weight: 700;
  color: #3E474B;
}

.HeroCard__button-container {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}




@media screen and (max-width: 1300px) {
  .HeroesList {
    max-width: 100rem;
  }

  .HeroCard {
    width: 47%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }

  .HeroCard {
    width: 100%;
    margin: .5rem;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 320px) {
  .HeroCard__name a {
    font-size: 3rem;
  }

  .Button {
    width: 100%;
  }
}